body {
  background-color: #333333;
  margin: 100;
  padding: 100;
}

h1 {
  color: #55FFEE;
  font-family: 'Fira Code', 'Arial', monospace;
}

h2 {
  color: #22CCCC;
  font-family: 'Fira Code', 'Arial', monospace;
}

p {
  font-family: 'Fira Code', 'Arial', monospace;
}

button {
  background: #22CCCC;
  border-color: Yellow; 
  font-family: 'Fira Code', 'Arial', monospace;
  display: inline;
}

button:hover {
  background: Ivory;
}

.invis {
  cursor: none;
}
