body {
  background-color: #333333;
  margin: 100;
  padding: 100;
}

h1 {
  color: #55FFEE;
  font-family: 'Fira Code', 'Arial', monospace;
}

h2 {
  color: #22CCCC;
  font-family: 'Fira Code', 'Arial', monospace;
}

p {
  color: #DDDDDD;
  font-family: 'Fira Code', 'Arial', monospace;
}

button {
  background: #22CCCC;
  border-color: #FFFF00;
  font-family: 'Fira Code', 'Arial', monospace;
  display: inline;
}

header {
  position: fixed;
  top: 0;
  left: 10;
  padding: 12px;
  margin: 0px;
}

button:hover {
  background: Ivory;
}

.invis {
  cursor: none;
}
