body {
  background-color: #333333;
  margin: 100;
  padding: 100;
}

h1 {
  color: navy;
  font-family: 'Fira Code', 'Arial', monospace;
}

h2 {
  color: royalblue;
  font-family: 'Fira Code', 'Arial', monospace;
}

p {
  font-family: 'Fira Code', 'Arial', monospace;
}

button {
  background: DeepPink;
  border-color: Yellow; 
  font-family: 'Fira Code', 'Arial', monospace;
  display: inline;
}

button:hover {
  background: Ivory;
}

.invis {
  cursor: none;
}
